/* color palette
.UI/UX-1-hex { color: #0528F2; }
.UI/UX-2-hex { color: #2E5FF2; }
.UI/UX-3-hex { color: #6B8DF2; }
.UI/UX-4-hex { color: #5AADBF; }
.UI/UX-5-hex { color: #F2F2F2; }

.UI/UX-1-rgba { color: rgba(4, 40, 242, 1); }
.UI/UX-2-rgba { color: rgba(46, 95, 242, 1); }
.UI/UX-3-rgba { color: rgba(106, 140, 242, 1); }
.UI/UX-4-rgba { color: rgba(89, 172, 191, 1); }
.UI/UX-5-rgba { color: rgba(242, 242, 242, 1); }

.UI/UX-1-hsla { color: hsla(230, 96, 48, 1); }
.UI/UX-2-hsla { color: hsla(225, 88, 56, 1); }
.UI/UX-3-hsla { color: hsla(225, 84, 68, 1); }
.UI/UX-4-hsla { color: hsla(191, 44, 55, 1); }
.UI/UX-5-hsla { color: hsla(0, 0, 95, 1); }
*/
